header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin: 79px auto 96px 24px;
  width: 1052px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

.header__menu {
  margin-left: 27px;
  margin-top: 16px;
}

.header__links-list {
  display: flex;
  justify-content: center;
  gap: 34px;
  text-underline-offset: 4px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-underline {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-self: center;
  width: 148px;
  margin-left: 36px;
}

.header__logo-image {
  margin-top: 9px;
  margin-left: 5px;
  width: 92%;
  height: 94%;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.6px;
  text-underline-offset: 4px;
  list-style: none;
}

.header__address {
  margin-top: 16px;
  margin-left: 185px;
}

.adress_no-bullit {
  list-style: none;
}

.adress_underline {
  text-underline-offset: 4px;
}

.cover {
  display: flex;
  flex-direction: column;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: contain;
}

.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 30px;
  font-size: 100px;
  font-weight: 700;
  color: white;
  min-height: 355px;
  margin-top: 160px;
}

.aligned-text {
  display: flex;
  justify-content: start;
  margin-top: 2px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 20px;
  margin-top: 4px;
}

.letter-spacing {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 127px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
}

.cover__description-text {
  word-spacing: 18.7px;
  margin-left: 30px;
  padding-bottom: 63px;
  margin-top: 10px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  background-color: rgba(0, 0, 0, 0);
  width: 256px;
  height: 51px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  margin-left: 80px;
  margin-bottom: 50px;
}

.text_space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.lots {
  display: grid;
  grid-template-columns: 3 1fr;
  grid-template-rows: 3 1fr;
  margin: 179px 24px 146px 24px;
  width: 1052px;
  min-height: 692px;
  column-gap: 25px;
}

.lots__heading {
  grid-column: 1 / 4;
  font-size: 40px;
  text-transform: uppercase;
  margin: auto auto 27px 40px;
}

.footer__card {
  grid-column: 1 / 1;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  margin: 30px auto auto 40px;
}

.header__card {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  margin: 51px 40px auto;
  color: white;
}

.text__card {
  display: flex;
  justify-content: end;
  margin: auto 40px 48px 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}

.lots__card {
  display: flex;
  max-height: 563px;
  width: 334px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  margin-left: 24px;
  grid-column: 2 1fr;
  grid-row: 3 1fr;
  width: 1052px;
  min-height: 595px;
}

.about__logo {
  grid-column: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border: 120px solid black;
  border-radius: 100%;
  margin-top: 34px;
  margin-left: 47px;
}

.about__logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 114px;
}

.about__title {
  grid-column: 2 / 2;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 135px;
  margin-left: 72px;
}

.about__text {
  grid-column: 2 / 3;
  margin-left: 72px;
  padding-bottom: 19px;
  margin-top: 10px;
  font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  min-height: 98px;
  margin-top: 175px;
  margin-left: 50px;
  margin-bottom: 76px;
}

.footer__menu {
  padding-left: 40px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__links-list-item_no-underline {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}